<% @sleep_ms.each do |sleep_m| %>
  <div class="sleep-record">
    <p><strong>睡眠開始時間:</strong> <%= sleep_m.set_time %></p>
    <p><strong>睡眠終了時間:</strong> <%= sleep_m.end_time %></p>
    <p><strong>睡眠の質:</strong> <%= sleep_m.quality %></p>
    <p><strong>メモ:</strong> <%= sleep_m.memo %></p>
    <%= link_to "詳細を見る", sleep_m, class: "btn btn-primary" %>
  </div>
<% end %>
