<main class="main">
  <div class="calendar-container <%= user_signed_in? ? 'left-half' : 'centered' %>">
    <%= month_calendar sleep_ms: @sleep_ms do |date, sleep_ms| %>
      <div class="<%= 'saturday' if date.saturday? %><%= 'sunday' if date.sunday? %>">
        <%= date.day %>
      </div>
    <% end %>
  </div>
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは、#{current_user.nickname} さん"  %>
      </div> 
        <% if @monthly_average_sleep.present? %>
          <ul class="monthly-average-sleep">
            <% @monthly_average_sleep.each do |month, avg_sleep| %>
              <li>
                <%= month.strftime("%Y年%m月の平均睡眠時間") %>: <%= avg_sleep[:hours] %>時間<%= avg_sleep[:minutes] %>分
              </li>
            <% end %>
          </ul>
        <% end %>
    <% end %>
  </div>
</main>
