<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは、#{current_user.nickname} さん"  %>
      </div> 
       <h2>平均睡眠時間: <%= @average_sleep_duration_minutes %> 時間</h2>
    <% end %>
    <h2>睡眠記録一覧</h2>
    <div class="card__wrapper">
    <% @sleep_ms.each do |sleep_m| %>
      <div class="card">
        <h3><%= sleep_m.record_date %></h3>
        <p><strong>睡眠開始時間:</strong> <%= sleep_m.set_time.strftime('%H:%M:%S') %></p>
        <p><strong>睡眠終了時間:</strong> <%= sleep_m.end_time.strftime('%H:%M:%S') %></p>
        <!-- 他のデータを表示 -->

        <%= link_to "詳細情報", sleep_m_path(sleep_m), class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</main>