<main class="main">
  <div class="calendar-container">
    <%= month_calendar sleep_ms: @sleep_ms do |date, sleep_ms| %>
      <%= date.day %>
    <% end %>
  </div>
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは、#{current_user.nickname} さん"  %>
      </div> 
      <% if @average_sleep_duration_hours > 0 %>
        平均睡眠時間: <%= @average_sleep_duration_hours %>時間<%= @average_sleep_duration_minutes %>分
      <% else %>
        平均睡眠時間: <%= @average_sleep_duration_minutes %>分
      <% end %>
    <% end %>
    <h2>睡眠記録一覧</h2>
  </div>
</main>
