<main class="main">
  <div class="calendar-container <%= user_signed_in? ? 'left-half' : 'centered' %>">
    <%= month_calendar sleep_ms: @sleep_ms do |date, sleep_ms| %>
      <div class="<%= 'saturday' if date.saturday? %><%= 'sunday' if date.sunday? %>">
        <%= date.day %>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
   <div class="inner">
      <div class="greeting">
        <%= "こんにちは、#{current_user.nickname} さん"  %>
      </div> 
        <% if @monthly_average_sleep.present? %>
          <ul class="monthly-average-sleep">
            <% @monthly_average_sleep.each do |month, avg_sleep| %>
              <li>
                <%= month.strftime("%Y年%m月の平均睡眠時間") %>: <%= avg_sleep[:hours] %>時間<%= avg_sleep[:minutes] %>分
              </li>
            <% end %>
          </ul>
          <h2>詳細一覧</h2>
          <% @sleep_ms.each do |sleep_m| %>
            <p><%= sleep_m.set_time %> - <%= link_to "詳細を見る", sleep_m_path(sleep_m) %></p>
          <% end %>
        <% end %>
   </div>
  <% end %>
</main>
