<!DOCTYPE html>
<html>
  <head>
    <title>sleep</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner_o">
        <div class="nav">
        <% if user_signed_in? %>
            <% if @weekly_average_sleep.present? %>
              <ul class="weekly-average-sleep">
                <% @weekly_average_sleep.each do |week, avg_sleep| %>
                  <% if week >= Date.current.at_beginning_of_week && week <= Date.current.at_end_of_week %>
                    <li>
                      <%= week.strftime("今週の平均睡眠時間") %>: <%= avg_sleep[:hours] %>時間<%= avg_sleep[:minutes] %>分
                    </li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
            <% if @weekly_quality_counts.present? %>
              <p>今週の睡眠の質の回数</p>
              <ul>
                <% SleepM.qualities.keys.each do |quality| %>
                  <li><%= "#{quality}: #{@weekly_quality_counts[quality].to_i}" %>回</li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
            <% if !user_signed_in? %>
                <h2 class="app-title">睡眠の重要性</h2>
            <% end %>
          <div class="nav__left">
            <%= link_to image_tag("sleep_man.png", class: :"logo rotate-icon"), root_path %>
          </div>
          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: :nav__logout %>
              <%= link_to "睡眠管理", new_sleep_m_path, class: :nav__btn %>
            </div> 
            <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
      <%= yield %>
  </body>
</html>
